.logo {
  width: 450px;
  display: block;
  margin: 30px auto 0;
}
.profile-icon {
  width: 150px;      /* サイズ */
  height: 150px;     /* サイズ */
  border-radius: 100%; /* 丸くする */
  object-fit: cover;  /* はみ出しを調整 */

  display: block;
  margin: 20px auto;  /* 中央配置 */
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6px;
  margin: 8px auto 0;
  text-align: left;
}

body {

  margin: 0;

}

.icon {
  width: 15px;  /* ←ここで小さくする */
  height: 15px;
  display: block;
}
.profile-container {
  position: relative;
  width: 150px;
  margin: 20px auto;
}

.mail {
  display: flex;
  align-items: center;
  gap: 6px; /* アイコンと文字の間 */
  justify-content: center;
  width: 100%;
}


.mail a {

  text-decoration: underline; /* 下線 */

  color: #000; /* 好きな色に変更OK */

}
.icon {
  width: 20px;
  height: 20px;
  display: block;
}




.profile-name {
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
}
.profile-name-image {
  width: 180px;   /* 好きな大きさに調整 */
  height: auto;
  display: block;
  margin: 10px auto;
}

.profile-container {
  width: 100%;
  text-align: center;
}

.caption {
  text-align: center;
  font-size: 14px;
  color: black;
  white-space: nowrap;
  width: 100%;
}
.sns-links {
  text-align: center;
  margin-top: 15px;
}

.sns-links a {
  margin: 0 10px;
  text-decoration: none;
}
.sns-links a,
.sns-links a:visited {
  color: black;
  text-decoration: underline;
}
.sns-links img {
  height: 25px;   /* 画像の高さ */
  width: auto;
}

.sns-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  max-width: 900px;
  margin: 50px auto;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1; /* 正方形 */
  object-fit: cover;   /* トリミングして正方形に */
  display: block;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal.show {
  display: flex;
}
.modal img {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
}
.gallery img {
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin-top: 40px;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.tabs button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.tabs img {
  height: 30px; /* 好きな高さに変更OK */
  width: auto;
  display: block;
}
p a,
p a:visited {
  color: black;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
#fanart-gallery {
  display: none;
}